@media screen and (min-width:38rem) {

    header,
    main,
    nav,
    footer {
        max-width: 900px;
        margin: 0 auto;
    }

    main {
        margin-bottom: 0.25rem;
    }

    #nav-btn {
        display: none;
    }

    header {
        grid-template-columns: 24px auto;
    }

    .navigation {
        display: block;
    }

    .navigation ul {
        flex-direction: row;
    }

    #plan-wireframes,#site-pitch {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: start;
        justify-content: center;
        gap: 0.5rem;
    }

    #plan-wireframes h2 {
        grid-column: span 2;
    }
    #plan-wireframes img{
        justify-self: center;
    }

}