@media screen and (min-width:38rem) {

    header,
    main,
    nav,
    footer {
        max-width: 900px;
        margin: 0 auto;
    }

    main {
        margin-bottom: 0.25rem;
    }

    #nav-btn {
        display: none;
    }

    header {
        grid-template-columns: 24px auto;
    }

    .navigation {
        display: block;
    }

    .navigation ul {
        flex-direction: row;
    }

    #plan-wireframes,
    #site-pitch,
    #form-articles {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: start;
        justify-content: center;
        gap: 0.5rem;
    }

    #plan-wireframes h2 {
        grid-column: span 2;
    }

    #plan-wireframes img {
        justify-self: center;
    }

    #article-layout.layout-15 {
        display: grid;
        grid-template-areas: "art-1 art-1 art-1" "art-2 art-3 art-3" "art-4 art-5 art-6" "art-7 art-8 art-6" "art-9 art-9 art-10" "art-11 art-11 art-11" "art-12 art-13 art-14" "art-15 art-15 art-15";
        column-gap: 0.25rem;
        row-gap: 0.25rem;
    }
    #art-1{
        grid-area: art-1;
    }
    #art-2{
        grid-area: art-2;
    }
    #art-3{
        grid-area: art-3;
    }
    #art-4{
        grid-area: art-4;
    }
    #art-5{
        grid-area: art-5;
    }
    #art-6{
        grid-area: art-6;
    }
    #art-7{
        grid-area: art-7;
    }
    #art-8{
        grid-area: art-8;
    }
    #art-9{
        grid-area: art-9;
    }
    #art-10{
        grid-area: art-10;
    }
    #art-11{
        grid-area: art-11;
    }
    #art-12{
        grid-area: art-12;
    }
    #art-13{
        grid-area: art-13;
    }
    #art-14{
        grid-area: art-14;
    }
    #art-15{
        grid-area: art-15;
    }
}