<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0 ">
  <meta name="description" content="Austin Hutchinson WDD231 Project ProjectName">
  <title>ProjectName</title>

  <link rel="icon" type="image/x-icon" href="./images/logo.svg">
  <link href="styles/normalize.css" rel="stylesheet">
  <link href="styles/small.css" rel="stylesheet">
  <link href="styles/larger.css" rel="stylesheet">
  <script src="scripts/navigation.js" defer=""></script>
  <script src="scripts/date.js" defer=""></script>
  <script src="scripts/course.js" defer=""></script>
</head>

<body>
  <header>
    <img src="images/logo.svg" alt="site logo" width="89" height="89" id="logo">
    <span>The Site Name</span>
    <button id="nav-btn" class="nav-ham" aria-label="navigation"></button>
  </header>
  <nav id="nav-bar" class="navigation">
    <ul>
      <li class="current-nav"><a href="#">Page 1</a></li>
      <li><a href="#">Page 244444444</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
  </nav>
  <main>

  </main>
  <footer>
    <div class="social">
      <ul>
        <li><a href="https://www.linkedin.com" target="_blank"><img src="images/linkedin.svg" width="44" height="44" class="svg" ></a></li>
        <li><a href="https://www.github.com" target="_blank"><img src="images/github.svg" width="44" height="44"class="svg" ></a></li>
        <li><a href="https://www.wordpress.com" target="_blank"><img src="images/wordpress.svg" width="44" height="44"class="svg" ></a></li>
        <li><a href="https://www.youtube.com" target="_blank"><img src="images/youtube.svg" width="44" height="44"class="svg" ></a></li>
      </ul>
    </div>
  </footer>
</body>

</html>