@media screen and (min-width:38rem) {

    header,
    main,
    nav,
    footer {
        max-width: 900px;
        margin: 0 auto;
    }

    #nav-btn {
        display: none;
    }

    header {
        grid-template-columns: 60px auto 250px;
    }
    .navigation {
        display: block;
    }

    .navigation ul {
        flex-direction: row;
        margin: 0;
    }

    .navigation.show {
        grid-column: span 1;
    }
}