@media screen and (min-width:38rem) {

    header,
    main,
    nav,
    footer {
        max-width: 900px;
        margin: 0 auto;
    }

    #nav-btn {
        display: none;
    }

    header {
        grid-template-columns: 60px auto 250px;
    }

    .navigation {
        display: block;
    }

    .navigation ul {
        flex-direction: row;
        margin: 0;
    }

    .navigation.show {
        grid-column: span 1;
    }

    #home-secs {
        display: grid;
        grid-template-columns: 45% 35% 20%;
    }

    #businesses-sec, #events-sec {
        display: grid;
        grid-template-columns: repeat(3, 33%);
        justify-content: space-between;
    }
    #events-sec h2{
        grid-column: span 3;
    }
}