:root {
    --light-text: #ffffff;
    --dark-text: #000000;
    --prime-green: #205020;
    --accent-blue: #006060;
    --accent-vermillion: #ffdbcf;
}

/*:root {
    --light-text: #ffffff;
    --dark-text: #000000;
    --prime-blue: #263037;
    --accent-blue: #7290a5;
    --accent-red: #FFAAAA;
}*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

/* Site Elements */

#logo {
    width: 57px;
    height: 44px;
}

header {
    display: grid;
    grid-template-columns: 60px auto 44px;
    column-gap: 0.5rem;
    padding: 0.25rem 0.5rem;
    align-items: end;

    border-bottom: 1px solid var(--prime-green);

    background-color: var(--prime-green);
    color: var(--light-text);

}

header img {
    display: block;
    width: 100%;
    height: auto;
}

/* nav classes */
#nav-btn {
    background-color: var(--light-text);
    border: 0px;
    cursor: pointer;
}

.nav-ham::after {
    content: "\2630";
    font-size: 1.5rem;
}

.nav-ham.show::after {
    content: "\00D7";
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
}

/*  navigation bar formatting*/
nav {
    display: none;
}

.navigation.show {
    grid-column: span 3;
    display: block;
}


.navigation ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: center;

    padding: 0 0.25rem;
    margin: 0.25rem 0;
}

.navigation li {
    width: 100%;
    display: grid;
    justify-content: center;
    padding: 0.25rem;
    border-radius: 0.25rem;
    background-color: var(--light-text);
    color: var(--dark-text);
    /* border: 1px solid var(--dark-text); */
}

.navigation a {
    color: var(--dark-text);
    text-decoration: none;
}

.navigation a:visited {
    color: var(--accent-magenta);
}

.current-nav+li {
    background-color: var(--accent-vermillion);
    color: var(--dark-text);
}

#hero-sec {
    position: relative;
}

#hero-image {
    width: 100%;
    height: auto;
}

#hero-call {
    background-color: var(--prime-green);
    position: absolute;
    top: 20px;
    right: 50px;
    width: fit-content;
    padding: .5rem;
    border-radius: 0.25rem;
}

#hero-call a {
    color: var(--light-text);
    text-decoration: underline;
}

#hero-call a:hover {
    color: var(--accent-vermillion);
    text-decoration: underline;
}

/* Home page elements */

#home-secs {
    display: flex;
    flex-direction: column;
}

#events-sec,
#weather-sec,
#forecast-sec {
    border: solid 1px var(--prime-green);
    margin: 0.25rem;
}

#events-sec h2,
#weather-sec h2,
#forecast-sec h2 {
    width: 100%;
    background-color: var(--accent-blue);
    color: var(--light-text);
    padding: 0.25rem;
    /* border-bottom: dashed 1px var(--accent-blue); */
    margin: 0px;
    margin-bottom: 0.25rem;
}

#weather-sec {
    display: grid;
    grid-template-columns: 33% 66%;
    justify-content: space-between;
}
#weather-sec img, .business-card img{
    align-self: top;
    justify-self: center;
}

#weather-sec h2 {
    grid-column: span 2;
}

#forecast-sec :not(h2){
    padding: 0.25rem;
}

#weather-sec ul,
#businesses-sec ul {
    list-style-type: none;
    padding: 0;
}

#businesses-sec {
    display: flex;
    flex-direction: column;
}

.business-card {
    display: grid;
    grid-template-columns: 33% 67%;
    background-color: var(--accent-vermillion);
}

.business-card h3 {
    grid-column: span 2;
    text-align: center;
    background-color: var(--accent-blue); 
    color: var(--light-text);
    width: 100%;   
}
.business-card :not(h3){
    margin: 0.25rem;
}

/* Organising Cards */
#card-toggle {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    margin: 0.25rem 0;
    background-color: var(--prime-green);
}

#card-toggle button {
    margin: 0.5rem;
    padding: 0.25rem;
    background-color: var(--accent-blue);
    color: var(--light-text);
    border: solid 2px var(--light-text);
    border-radius: 0.25rem;
}

#button-card-list {
    grid-column: 2 / 3;

}

#button-card-grid {
    grid-column: 4 / 5;
}

#cards {
    width: 100%;
    min-height: 30rem;
}

.card-member {
    background-color: var(--prime-green);
    color: var(--light-text);
    padding: 1rem;
    text-align: center;
    margin: 1rem;
    width: 90%;
    border-radius: 2rem;
}

.card-member a {
    color: var(--light-text);
}

.card-member a:visited {
    color: var(--accent-vermillion);
}

.card-member>h2 {
    border-bottom: 1px solid var(--accent-vermillion);
}

.member-card-image {
    height: 18rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-member img {
    width: 200px;
    height: auto;
}

.card-member h4 {
    font-size: 1rem;
}

.grid-view {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.list-view {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-view .member-card-image {
    display: none;
}

.list-view>.card-member {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
}

.list-view h2 {
    font-size: 1.25rem;
}

.list-view h3 {
    font-size: 0.75rem;
}

/* adjustring socials */

/* #social img{
    filter: brightness(0) saturate(100%) invert(17%) sepia(81%) saturate(4669%) hue-rotate(84deg) brightness(100%) contrast(130%);
} */
.social ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

footer {
    text-align: center;
    border-top: 1px solid var(--prime-green);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

footer>* {
    padding: 0.25rem;
}