@media screen and (min-width:38rem){
    header, main, nav, footer{
        max-width: 900px;
        width: 100%;
        margin: 0 auto;
    }
    
    #nav-btn{
        display:none;
    }
    header{
        grid-template-columns: 24px auto;
    }
    .navigation{
        display: block;
    }
    .navigation ul{
        flex-direction: row;
    }
    main{
        display:grid;
        grid-template-columns: 66% 33%;
    }
    main h1, #sec-courses{
        grid-column: span 2;
    }
    
    #courses{
        flex-direction: row;
        justify-content: space-around;
    }
}